.pp2
{
	width:1em;
	height:1em;
	text-align: center;
	border-radius: 50%;
}

.pptitle{
	font-size:50px;
	font-family:compact;
	font-weight: lighter;
	padding-bottom:30px;
}

.editProfile
{
	font-size: 1.00em;
	font-family:Montserrat;
	padding: 0.7em 0.8em;
	width:40%;
}

.buttonSmall /* profile */
{
	border-radius: 3px;
	border-style:solid;
	border-width: 1px;
	font-weight: 400;
	outline:none;
	overflow:hidden;
	white-space:nowrap;
	width:100%;
	-webkit-appearance:none;
	font-size: 0.6em;
	padding:0.4em;
	color: #727272;
	margin-left: 1.5em;
}
